<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="icon" href="assets/favicon.ico">
</head>

<body>
    <div>LOLLL</div>
    <a href="posts/preeps"><%= title %></a>
    <%- include('components/test.ejs'); %>
    <script src="/scripts/main.js"></script>
</body>

</html>